<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ChatMapper">
	<resultMap type="Mate" id="mateResultMap">
		<result property="mateNo"	column="MATE_NO"/>
		<result property="mateTitle"	column="MATE_TITLE"/>
		<result property="mateContents"	column="MATE_CONTENTS"/>
		<result property="mateDate"	column="MATE_DATE"/>
		<result property="mateModifyDate"	column="MATE_MODIFY_DATE"/>
		<result property="mateRequireNo"	column="MATE_REQUIRENO"/>
		<result property="matePlace"	column="MATE_PLACE"/>
		<result property="detailAddr"	column="MATE_DETAILADDR"/>
		<result property="roadAddr"	column="MATE_ROADADDR"/>
		<result property="sido"	column="MATE_SIDO"/>
		<result property="latLong"	column="MATE_LATLONG"/>
		<result property="mateView" column="MATE_VIEWS"/>
		<result property="mateEnd"	column="MATE_END"/>
		<result property="menuName" column="MENU_NAME"/>
		<result property="userId"	column="USERID"/>
		<result property="category" column="MATE_CATEGORY"/>
		<collection property="mymate" resultMap="myMateResultMap"/>
	</resultMap>
	<resultMap type="Mymate" id="myMateResultMap">
		<result property="mateNo" column="MATE_NO"/>
		<result property="mateStatus" column="MATE_STATUS"/>
	</resultMap>
	<resultMap type="Chat" id="chatResultMap">
		<result property="mateNo" column="MATE_NO"/>
		<result property="chatNo" column="CHAT_NO"/>
	</resultMap>
	<select id="getChatListCount" resultType="int">
		SELECT COUNT(*) FROM MATE
		WHERE MATE_END = 'N'
	</select>
	<select id="adminChatList" resultMap="mateResultMap">
		<!-- SELECT * FROM MATE 
		WHERE MATE_END = 'Y'
		ORDER BY MATE_DATE -->
		SELECT * FROM MATE A LEFT OUTER JOIN MYMATE B
		ON A.USERID = B.USERID
		WHERE A.MATE_END = 'Y'
		ORDER BY A.MATE_DATE
	</select>
	<select id="adminSelectChat" resultMap="mateResultMap">
		SELECT * FROM MATE
		WHERE MATE_NO = #{mateNo}
	</select>
	<select id="adminSelectUser" resultMap="mateResultMap">
		SELECT * FROM MYMATE
		WHERE MATE_NO = #{mateNo}
	</select>
	<update id="adminModifyChat">
		UPDATE MYMATE SET MATE_STATUS = 'Y'
		WHERE MATE_NO = #{mateNo}
	</update>
	<insert id="insertChat">
		INSERT INTO CHAT
		VALUES (#{messageinput}, #{userId}, #{mateNo})
	</insert>
	<select id="selectChatInsert" resultMap="myMateResultMap" parameterType="Hashmap">
		SELECT * FROM MYMATE
		WHERE MATE_NO = #{mateNo}
		AND USERID = #{userId}
	</select>
	<select id="selectChatList" resultMap="chatResultMap">
		SELECT * FROM CHAT
		WHERE MATE_NO = #{mateNo}
	</select>
</mapper>