<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MateMapper">

	<resultMap type="Mate" id="mateResultMap">
		<result property="mateNo"	column="MATE_NO" />
		<result property="mateTitle"	column="MATE_TITLE"/>
		<result property="mateContents"	column="MATE_CONTENTS"/>
		<result property="mateDate"	column="MATE_DATE"/>
		<result property="mateModifyDate"	column="MATE_MODIFY_DATE"/>
		<result property="mateRequireNo"	column="MATE_REQUIRENO"/>
		<result property="matePlace"	column="MATE_PLACE"/>
		<result property="detailAddr"	column="MATE_DETAILADDR"/>
		<result property="roadAddr"	column="MATE_ROADADDR"/>
		<result property="sido"	column="MATE_SIDO"/>
		<result property="latLong"	column="MATE_LATLONG"/>
		<result property="mateView"	column="MATE_VIEWS"/>
		<result property="mateEnd"	column="MATE_END"/>
		<result property="menuName"	column="MENU_NAME"/>
		<result property="userId"	column="USERID"/>
		<result property="category"	column="MATE_CATEGORY"/>
		<collection property="mymate" resultMap="myMateResultMap" />
		<collection property="require" resultMap="requireResultMap" />
		<collection property="opendiary" resultMap="myMateResultMap" />
		<collection property="diaryImg" resultMap="requireResultMap" />
	</resultMap>
	<resultMap type="MateCom" id="mateComResultMap">
		<result property="mateComNo"	column="MATECOMMENTS_NO"/>
		<result property="mateComRefNo"	column="MATECOMMENTS_REF_NO"/>
		<result property="mateComContents"	column="MATECOMMENTS_CONTENTS"/>
		<result property="mateComDate"	column="MATECOMMENTS_DATE"/>
		<result property="mateComModifyDate"	column="MATECOMMENTS_MODIFY_DATE"/>
		<result property="mateNo"	column="MATE_NO"/>
		<result property="userId"	column="USERID"/>
	</resultMap>
	<resultMap type="Mymate" id="myMateResultMap">
		<result property="mateNo" column="MATE_NO"/>
		<result property="mateStatus" column="MATE_STATUS"/>
	</resultMap>
	<!-- require -->
	<resultMap type="com.kh.ddoda.require.domain.Require" id="requireResultMap">
		<result property="requireNo"	column="REQUIRE_NO"/>
		<result property="requireTitle"	column="REQUIRE_TITLE"/>
		<result property="requireDate"	column="REQUIRE_DATE"/>
		<result property="requireModifyDate"	column="REQUIRE_MODIFY_DATE"/>
		<result property="requireContents"	column="REQUIRE_CONTENTS"/>
		<result property="requireYN"	column="REQUIRE_YN"/>
		<result property="userId"	column="USERID"/>
		<result property="originalFilename"	column="REQUIRE_ORIGINALFILENAME"/>
		<result property="renameFilename"	column="REQUIRE_RENAMEFILENAME"/>
		<result property="rCount"	column="RCOUNT"/>
	</resultMap>
	<!-- opendiary -->
	<resultMap type="com.kh.ddoda.opendiary.domain.Opendiary" id="opendResultMap">
		<result property="opendiaryNo" column="OPENDIARY_NO"/>
		<result property="opendiaryTitle" column="OPENDIARY_TITLE"/>
		<result property="opendiaryContents" column="OPENDIARY_CONTENTS"/>
		<result property="opendiaryDate" column="OPENDIARY_DATE"/>
		<result property="opendiaryModifyDate" column="OPENDIARY_MODIFY_DATE"/>
		<result property="opendiaryViews" column="OPENDIARY_VIEWS"/>
		<result property="userId" column="USERID"/>
		<result property="mainImagePath" column="MAIN_IMAGEPATH"/>
	</resultMap>
	<resultMap type="com.kh.ddoda.opendiary.domain.DiaryImg" id="imgResultMap">
		<result property="imgPath" column="IMAGE_PATH"/>
		<result property="imgRenamePath" column="IMAGE_RENAME_PATH"/>
		<result property="diaryNo" column="DIARY_NO"/>
		<result property="opendiaryNo" column="OPENDIARY_NO"/>
		<result property="imgMainYn" column="IMAGE_MAINYN"/>
	</resultMap>
	
	<select id="selectList" resultMap="mateResultMap" parameterType="String">
		SELECT * FROM MATE 
		WHERE MATE_CATEGORY = #{category}
		ORDER BY MATE_NO DESC
	</select>
	<select id="getListCount" resultType="int">
		SELECT COUNT(*) FROM MATE
	</select>
	<insert id="insertMate">
		INSERT INTO MATE VALUES(SEQ_MATE.NEXTVAL, #{mateTitle},#{mateContents},
		SYSDATE, SYSDATE, #{mateRequireNo}, #{matePlace}, #{detailAddr}, #{roadAddr},
		#{sido}, #{latLong}, DEFAULT, DEFAULT, DEFAULT, #{userId}, #{category})
	</insert>
	<select id="selectOneMate" resultMap="mateResultMap">
		SELECT * FROM MATE WHERE MATE_NO = #{mateNo}
	</select>
	<update id="addViewCount">
		UPDATE MATE SET MATE_VIEWS = MATE_VIEWS + 1
		WHERE MATE_NO = #{mateNo}
	</update>
	<insert id="insertMateCom">
		INSERT INTO MATE_COMMENTS VALUES(SEQ_MATE_COMMENTS.NEXTVAL, DEFAULT,
		#{mateComContents}, SYSDATE, SYSDATE, #{mateNo}, #{userId})
	</insert>
	<select id="selectMateCom"  resultMap="mateComResultMap">
		SELECT * FROM MATE_COMMENTS WHERE MATE_NO = #{mateNo} AND MATECOMMENTS_REF_NO = 0
		ORDER BY MATECOMMENTS_DATE DESC
	</select>
	<select id="selectMateComListNo"  resultMap="mateComResultMap">
		SELECT * FROM MATE_COMMENTS WHERE MATE_NO = #{mateNo}
		ORDER BY MATECOMMENTS_DATE DESC
	</select>
	<insert id="insertMymate">
		INSERT INTO MYMATE VALUES(#{mateNo}, #{userId}, DEFAULT)
	</insert>
	<select id="selectMymate" resultMap="myMateResultMap">
		SELECT * FROM MYMATE WHERE MATE_NO = #{mateNo}
	</select>
	<!-- 메이트 모집글 삭제 -->
	<delete id="deleteMate">
		DELETE FROM MATE WHERE MATE_NO = #{mateNo}
	</delete>
	<delete id="deleteAllmyMate">
		DELETE FROM MYMATE WHERE MATE_NO = #{mateNo}
	</delete>
	<delete id="deleteAllMateCom">
		DELETE FROM MATE_COMMENTS WHERE MATE_NO = #{mateNo}
	</delete>
	<!-- 메이트 모집글 수정 -->
	<update id="updateMate">
		UPDATE MATE SET MATE_TITLE = #{mateTitle}, MATE_CONTENTS = #{mateContents}, MATE_REQUIRENO = #{mateRequireNo},
		MATE_PLACE = #{matePlace}, MATE_DETAILADDR = #{detailAddr}, MATE_ROADADDR = #{roadAddr}, MATE_SIDO = #{sido},
		MATE_LATLONG = #{latLong} WHERE MATE_NO = #{mateNo}
	</update>
	<!-- 메이트 대댓글 작성 -->
	<insert id="insertMateComReply">
		INSERT INTO MATE_COMMENTS VALUES(SEQ_MATE_COMMENTS.NEXTVAL, #{mateComRefNo},
		#{mateComContents}, SYSDATE, SYSDATE, #{mateNo}, #{userId})
	</insert>
	<!-- 대댓글 리스트 -->
	<select id="selectMateComReply" resultMap="mateComResultMap" parameterType="Hashmap">
		SELECT * FROM MATE_COMMENTS WHERE MATE_NO = #{mateNo} AND MATECOMMENTS_REF_NO = #{mateComRefNo}
		ORDER BY MATE_NO DESC
	</select>
	<!-- 댓글 대댓글 삭제 -->
	<delete id="deleteMateCom">
		DELETE FROM MATE_COMMENTS WHERE MATECOMMENTS_NO = #{mateComNo}
	</delete>
	<delete id="deleteMateComReply">
		DELETE FROM MATE_COMMENTS WHERE MATECOMMENTS_NO = #{mateComNo}
	</delete>
	<select id="mateSearchList" resultMap="mateResultMap">
		SELECT * FROM MATE
		<where>
			<if test="searchCondition.toString() == 'title'">
				MATE_TITLE LIKE '%' || #{searchValue} ||'%'
			</if>
			<if test="searchCondition.toString() == 'writer'">
				USERID LIKE '%' || #{searchValue} ||'%'
			</if>
			<if test="searchCondition.toString() == 'content'">
				MATE_CONTENTS LIKE '%' || #{searchValue} ||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				MATE_TITLE LIKE '%' || #{searchValue} ||'%'
				OR USERID LIKE '%' || #{searchValue} || '%'
				OR MATE_CONTENTS LIKE '%' || #{searchValue} || '%'
			</if>
		</where>
		ORDER BY MATE_DATE DESC
	</select>
	<!-- mate 완료 -->
	<update id="finishMate">
		UPDATE MATE SET MATE_END = 'Y' WHERE MATE_NO = #{mateNo}
	</update>
	<!-- 마이페이지 mymate 리스트 -->
	<select id="myMateAttendList" resultMap="mateResultMap">
		SELECT * FROM MATE A LEFT OUTER JOIN MYMATE B 
		ON A.MATE_NO = B.MATE_NO WHERE B.USERID = #{userId}
	</select>
	<!-- 마이메이트 나가기 -->
	<delete id="mymateOut">
		DELETE FROM MYMATE WHERE MATE_NO = #{mateNo}
		AND USERID = #{userId}
	</delete>
	<!-- 모든 내 글 보기 -->
	<select id="myContentList" resultMap="mateResultMap">
		SELECT * FROM MATE
		WHERE USERID = #{userId} ORDER BY MATE_DATE DESC
	</select> 
	<select id="getComListCount" resultType="int">
		SELECT COUNT(*) FROM MATE_COMMENTS
	</select>
	
</mapper>