<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="NoticeMapper">
	<select id="getListCount" resultType="int">
		SELECT COUNT(*)
		FROM 
		    (
		        SELECT REQUIRE_NO as noticeNo, REQUIRE_TITLE as noticeTitle, REQUIRE_DATE as noticeDate, USERID, MENU_NAME FROM REQUIRE WHERE USERID = 'admin'
		        UNION SELECT MATE_NO as noticeNo, MATE_TITLE as noticeTitle, MATE_DATE as noticeDate, USERID, MENU_NAME FROM MATE WHERE USERID = 'admin'
		        UNION SELECT OPENDIARY_NO as noticeNo, OPENDIARY_TITLE as noticeTitle, OPENDIARY_DATE as noticeDate, USERID, MENU_NAME FROM OPENDIARY WHERE USERID = 'admin'
		    )
	</select>
	<select id="selectNoticeList" resultType="Notice">
		SELECT 
		    ROWNUM
		    , noticeNo
		    , noticeTitle
		    , TO_CHAR(noticeDate, 'YYYY-MM-DD') as noticeDate
		    , USERID
		    , MENU_NAME as menuName
		FROM 
		    (
		        SELECT REQUIRE_NO as noticeNo, REQUIRE_TITLE as noticeTitle, REQUIRE_DATE as noticeDate, USERID, MENU_NAME FROM REQUIRE WHERE USERID = 'admin'
		        UNION SELECT MATE_NO as noticeNo, MATE_TITLE as noticeTitle, MATE_DATE as noticeDate, USERID, MENU_NAME FROM MATE WHERE USERID = 'admin'
		        UNION SELECT OPENDIARY_NO as noticeNo, OPENDIARY_TITLE as noticeTitle, OPENDIARY_DATE as noticeDate, USERID, MENU_NAME FROM OPENDIARY WHERE USERID = 'admin'
		    )
	</select>
	<select id="selectNotice" resultType="SelectNotice">
		<choose>
			<when test="menuName == '공유일기'">
				SELECT OPENDIARY_NO as sNoticeNo, OPENDIARY_TITLE as sNoticeTitle, USERID, OPENDIARY_CONTENTS as sNoticeContents, OPENDIARY_DATE as sNoticeDate, MENU_NAME as sSearchCondition FROM OPENDIARY
				WHERE OPENDIARY_NO = #{noticeNo}
			</when>
			<when test="menuName == '메이트'">
				SELECT MATE_NO as sNoticeNo, MATE_TITLE as sNoticeTitle, USERID, MATE_CONTENTS as sNoticeContents, MATE_DATE as sNoticeDate, MENU_NAME as sSearchCondition FROM MATE
				WHERE MATE_NO = #{noticeNo}
			</when>
			<when test="menuName == '요구사항'">
				SELECT REQUIRE_NO as sNoticeNo, REQUIRE_TITLE as sNoticeTitle, USERID, REQUIRE_CONTENTS as sNoticeContents, REQUIRE_DATE as sNoticeDate, MENU_NAME as sSearchCondition FROM REQUIRE
				WHERE REQUIRE_NO = #{noticeNo}
			</when>
		</choose>
	</select>
	<insert id="insertNotice">
		<choose>
			<when test="sSearchCondition.toString() == 'opendiary'">
				INSERT INTO OPENDIARY VALUES (SEQ_OPENDIARY.NEXTVAL, #{sNoticeTitle}, #{sNoticeContents}, SYSDATE, NULL, DEFAULT, DEFAULT, #{userId}, NULL, DEFAULT)
			</when>
			<when test="sSearchCondition.toString() == 'require'">
				INSERT INTO REQUIRE VALUES (SEQ_REQUIRE.NEXTVAL, #{sNoticeTitle}, SYSDATE, NULL, #{sNoticeContents}, DEFAULT, NULL, NULL, DEFAULT, #{userId}, DEFAULT)
			</when>
			<when test="sSearchCondition.toString() == 'mate'">
				INSERT INTO MATE VALUES (SEQ_MATE.NEXTVAL, #{sNoticeTitle}, #{sNoticeContents}, SYSDATE, NULL, 0, 'TEST', 'TEST', 'TEST', 'TEST', 'TEST', DEFAULT, DEFAULT, DEFAULT, #{userId}, NULL)
			</when>
		</choose>
	</insert>
	<delete id="deleteNotice" parameterType="Notice">
		<choose>
			<when test="menuName == '공유일기'">
				DELETE FROM OPENDIARY WHERE OPENDIARY_NO = #{noticeNo}
			</when>
			<when test="menuName == '메이트'">
				DELETE FROM MATE WHERE MATE_NO = #{noticeNo}
			</when>
			<when test="menuName == '요청사항'">
				DELETE FROM REQUIRE WHERE REQUIRE_NO = #{noticeNo}
			</when>
		</choose>
	</delete>
</mapper>
